body {
  text-align: center;
  cursor: pointer;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

#calendar-table {
  width: auto;
  margin: 0;
}

td {
  line-height: 70px;
  margin: 0;
  width: 70px;
}

div {
  margin: 0 auto;
}

.choiced {
  color: rgb(146, 146, 240);
  font-weight: bold;
}

tbody > tr > td > p {
  margin: 0;
}

.today > p {
  color: white;
  background-color: rgba(222, 152, 243, 0.781);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
}

#month {
  margin-right: 30px;
}

#month, #year {
  font-size: 50px;
  font-weight: 1000;
  color: rgba(204, 105, 235, 0.781);
  width: auto;
}

.arrow {
  font-size: 30px;
}

#days td{
  line-height: 32px;
}