body {
  text-align: center;
  cursor: pointer;
}

#calendar-table {
  width: 560px;
  height: 400px;
}

td {
  width: 50px;
  height: 50px;
}

div {
  margin: 0 auto;
}

.choiced {
  color: blue;
  font-weight: bold;
}

.today > p {
  color: white;
  font-weight: bold;
  background-color: rgb(6, 78, 6);
  border-radius: 50%;
}

tbody > tr > td > p {
  line-height: 45px;
}
