#time-box {
  width: 100%;
  height: 20%;
  position: relative;
  margin-top: 20vh;
  box-sizing: border-box;
}

#time-date-text {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(130, 129, 129);
  margin-bottom: 10px;
}

#time-hour-text {
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: black;
}

@media (max-width: 1300px) {
  #time-hour-text {
    font-size: 5vw;
  }
}

@media (max-width: 1023px) {
  #time-box {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #time-hour-text {
    font-size: 6vw;
    text-align: start;
    margin-left: 6vw;
  }

  #time-date-text {
    font-size: 2vw;
    text-align: left;
    font-weight: 500;
    margin-left: 6vw;
    color: rgb(241, 241, 241);
  }
}
