#time-box {
  width: 100%;
  height: 20%;
  position: relative;
  margin-top: 20vh;
  box-sizing: border-box;
}

#time-date-text {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(130, 129, 129);
  margin-bottom: 10px;
}

#time-hour-text {
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: black;
}

@media (max-width: 1300px) {
  #time-hour-text {
    font-size: 5vw;
  }
}

@media (max-width: 1023px) {
  #time-box {
    margin-top: 100px;
  }

  #timer-box p {
    font-size: 30px;
  }

  .timer__time {
    font: 30px;
  }
}
