#time-box {
  width: 100%;
  height: 20%;
  position: relative;
  margin-top: 20vh;
}

#time-date-text {
  font-size: min(1.4vw, 2.4vh);
  text-align: center;
  font-weight: 500;
  color: lightgrey;
  margin-bottom: 10px;
}

#time-hour-text {
  text-align: center;
  font-size: min(4.5vw, 7.7vh);
  font-weight: 400;
  color: black;
}
