#dday-box {
  width: 100%;
  height: 54%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5vh 0;
  padding: 30px;
  color: black;
  border-radius: 30px;
  position: relative;
  font-weight: 550;
  box-sizing: border-box;
}

.add-dday-box {
  width: 400px;
  height: 98%;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease-in-out;
}

.show {
  right: 0;
}

#add-dday-form {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}

#add-dday-form > p {
  font-size: 30px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 40px 0;
}

#dday-name {
  background-color: transparent;
  border: none;
  border-bottom: 2px rgb(255, 255, 255) solid;
  color: rgb(255, 255, 255);
  width: 80%;
  height: 30px;
  font-size: 20px;
  margin-top: 50px;
}

#dday-name::placeholder {
  color: rgb(181, 181, 181);
}

#dday-name:focus {
  outline: none;
}

#dday-input {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom: 2px rgb(255, 255, 255) solid;
  width: 80%;
  height: 30px;
  font-size: 20px;
  margin-top: 50px;
}

#dday-list {
  width: 100%;
  height: 90%;
  margin-top: 20px;
}

.dday-element {
  display: flex;
  height: 5vh;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  align-items: center;
}

.dday-element:hover {
  border: 1px solid transparent;
}

.dday-element > div:first-child > p:last-child {
  color: rgb(138, 137, 137);
  font-size: 14px;
  font-weight: 400;
  margin-top: 3px;
}

.dday-element > button {
  border: none;
  top: 18px;
  left: 50%;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  color: gray;
}

.dday-element p:last-child {
  font-size: 20px;
  font-weight: 600;
  color: rgb(90, 90, 90);
}

#dday-header {
  display: flex;
  justify-content: space-between;
}

#dday-header > p {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

#add-dday {
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  color: black;
}

#add-dday:hover {
  border: 1px solid transparent;
}

#dday-input::before {
  content: attr(data-placeholder);
  width: 100%;
  font-size: 20px;
  color: rgb(155, 155, 155);
}

#dday-input:focus::before,
#dday-input:valid::before {
  display: none;
}

#add-dday-form > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-dday-form {
  position: relative;
  color: gray;
}

#submit {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 5%;
  background-color: rgb(71, 198, 160);
}

#reset {
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 5%;
  background-color: rgb(219, 219, 252);
}
