#links {
  text-align: center;
  width: 83%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 3vh;
  border-radius: 30px;
  padding: 40px 50px;
}

.link-icons {
  display: flex;
  justify-content: space-between;
}

.fab:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#links form {
  margin-bottom: 30px;
  text-align: center;
}

#links form input {
  width: 95%;
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
  margin: 30px 0;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 0);
  color: rgb(28, 26, 26);
  padding: 5px;
  letter-spacing: 1.5px;
}

#links form input::placeholder {
  color: rgb(112, 112, 112);
  font-size: 20px;
}
