@import "./reset.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* components */
@import "./components/word-component.css";
@import "./components/header.css";
@import "./components/result-screen.css";
@import "./components/keyboard-component.css";

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background-color: rgb(68, 68, 68);
  color: white;
}

input[type="submit"] {
  display: none;
}

.unshow {
  display: none;
}

.done {
  border: 3px solid rgb(230, 100, 230);
}
