body {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 95vh;
  margin: 0;
}

#left-side {
  width: 60vw;
  height: 95vh;
}

#right-side {
  background-color: rosybrown;
  width: 35vw;
  height: 95vh;
}

#time-box {
  width: 60vw;
  height: 55vh;
  position: relative;
}

#todo-input-box {
  background-color: burlywood;
  width: 60vw;
  height: 40vh;
}

#location-box {
  background-color: rgb(135, 222, 181);
  width: 35vw;
  height: 20vh;
}

#dday-box {
  background-color: rgb(222, 135, 186);
  width: 35vw;
  height: 30vh;
}

#todo-box {
  background-color: rgb(135, 183, 222);
  width: 35vw;
  height: 45vh;
}

#todo-box > p {
  margin: 0;
}

ul {
  list-style: none;
}

#todos {
  margin: 0;
  padding: 0;
}

#todos li input {
  display: none;
}

#todos li {
  margin: 10px 0;
  vertical-align: center;
}

#todos li span {
  margin: 0px 30px;
  width: 300px;
  color: lightgray;
}

#todos li label {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid lightgray;
  cursor: pointer;
}

#todos li button {
  margin: 0px;
  border: none;
  font-weight: bolder;
  background-color: rgb(48, 46, 46);
  color: lightgray;
}

.checked input ~ span {
  text-decoration: line-through;
}

.checked input + label::after {
  content: "V";
  color: lightgray;
  top: -5px;
  left: 1px;
  position: absolute;
  font-weight: 700;
}

#todo-input {
  border: none;
  width: 600px;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

#todo-input:focus {
  outline: none;
}

.add-dday-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-dday-box section {
  background-color: white;
  width: 50vw;
  height: 50vh;
}

.unshow {
  display: none;
}

#time-date-text {
  margin: 0;
}

#dday-list {
  width: 100%;
  height: 90%;
}

.dday-element {
  display: flex;
  height: 3vh;
  justify-content: space-between;
  margin: 0.5vh 2vw;
}

#time-date-text {
  position: absolute;
  font-size: 1.5vw;
  left: 10vw;
  top: 20vh;
  font-weight: 600;
  color: rgb(90, 90, 90);
}

#time-hour-text {
  position: absolute;
  top: 25vh;
  left: 9vw;
  text-align: center;
  margin-top: 0;
  font-size: 8vw;
  font-weight: 700;
  color: rgb(90, 90, 90);
}
