#todo-input-box {
  width: 90%;
  position: relative;
  margin: 7vh 0;
}

#todo-box {
  width: 60%;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10vh 5vw;
  margin-bottom: 0;
  padding: 30px;
  color: white;
  border-radius: 30px;
}

#todos {
  margin: 0;
  padding: 0;
}

#todos li input {
  display: none;
}

#todos li {
  margin: 15px 0;
  vertical-align: center;
  position: relative;
  cursor: pointer;
}

#todos li span {
  margin: 0px 3vw;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1vw;
  vertical-align: center;
}

#todos li label {
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid rgb(153, 153, 153);
  cursor: pointer;
}

#todos li button {
  margin: 0px;
  border: none;
  font-weight: 550;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: rgb(158, 158, 158);
  background-color: transparent;
  cursor: pointer;
}

.checked input ~ span {
  text-decoration: line-through;
  color: rgb(148, 148, 148);
}

.checked input + label::after {
  content: "V";
  background-color: rgb(156, 156, 156);
  color: rgb(156, 156, 156);
  width: 13px;
  height: 13px;
  position: absolute;
  font-weight: 700;
}

#todo-input {
  width: 100%;
  font-size: 15px;
  font-weight: 550;
  background-color: transparent;
  margin-top: 30px;
  border: none;
  border-bottom: 1.5px solid white;
  color: white;
  padding: 3px;
  letter-spacing: 1.5px;
}

#todo-input:focus {
  outline: none;
}

#todo-box > p {
  font-size: 30px;
  font-weight: 600;
}

#todo-input-box p {
  text-align: center;
  font-size: 15px;
  font-weight: 550;
}
