.word-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-row {
  width: 350px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.word-row__cell {
  width: 65px;
  height: 65px;
  text-align: center;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 40px;
  margin: 0 10px;
}

.word-row__cell:focus {
  outline: none;
}

$(function() {
  $(".inputs").keyup (function () {
      var charLimit = $(this).attr("maxlength");
      if (this.value.length >= charLimit) {
          $(this).next('.inputs').focus();
          return false;
      }
  });
});