.word-component {
  width: 80vw;
  height: 60vh;
}

.word-row {
  width: 100%;
  height: 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.word-row__cell {
  width: 18%;
  height: 100%;
  text-align: center;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 13vw;
}

.word-row__cell:focus {
  outline: none;
}
