.word-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.word-row__cell {
  width: 70px;
  height: 70px;
  text-align: center;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 600;
  margin: 0 10px;
  border: 3px solid rgb(220, 209, 236);
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  color: white;
}

.word-row__cell:focus {
  outline: none;
}

.word-green {
  border: 2px solid green;
  background-color: green;
}

.word-yellow {
  border: 2px solid rgb(206, 206, 67);
  background-color: rgb(206, 206, 67);
}
