body {
  background-color: rgb(48, 46, 46);
  width: 600px;
  height: 1000px;
}

header p {
  font-size: 80px;
  font-weight: bolder;
  margin: 20px 40px;
  word-spacing: 10px;
  color: lightgray;
}

header p span {
  color: rgb(252, 101, 1);
}

main {
  margin: 50px auto;
}

ul {
  list-style: none;
  padding-left: 0px;
  font-size: 20px;
}

ul li {
  position: relative;
  margin-bottom: 10px;
}

ul li span {
  display: inline-block;
  margin: 0px 30px;
  width: 300px;
  color: lightgray;
}

ul li button {
  margin: 0px;
  border: none;
  font-weight: bolder;
  background-color: rgb(48, 46, 46);
  color: lightgray;
}

ul li input {
  display: none;
}

.checked input ~ span {
  text-decoration: line-through;
}

.checked input + label::after {
  content: "V";
  color: lightgray;
  top: -5px;
  left: 1px;
  position: absolute;
  font-weight: 700;
}

ul li label {
  display: inline-block;
  border: 2px solid lightgray;
  width: 17px;
  height: 17px;
  top: 30%;
  position: absolute;
}

#todo-input {
  border: none;
  width: 600px;
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
  color: lightgray;
  font-weight: bolder;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  background-color: rgb(48, 46, 46);
}

#todo-input:focus {
  outline: none;
}

#description {
  margin-top: 100px;
  color: lightgray;
}

#description p {
  color: lightgray;
  text-align: start;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: 10px;
}
