header p {
    font-size: 80px;
    font-weight: bolder;
    margin: 20px 40px;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: rgb(175, 173, 173);
}

header p span {
    color: rgb(199, 145, 250);
}

main {
    margin: 50px auto;
    
}

ul {
    list-style: none;
    padding-left: 0px;
    font-size: 20px;
}

ul li{
    position : relative;
    margin-bottom: 10px;
}

ul li span {
    display: inline-block;
    margin: 0px 30px;
    width: 200px;
    color: rgb(131, 130, 130);
}

ul li button {
    margin: 0px;
    border: none;
    font-weight: bolder;
    background-color: white;
    color: rgb(190, 190, 190);
}

ul li label {
    position: absolute;
    top: 20%;
    display: inline-block;
    border: 1px solid rgb(190, 189, 189);
    width: 17px;
	height: 17px;
}

ul li label input {
    display: none;
}

/* Todo : check 되었을 때 전체 밑줄 (css or js)*/
ul li label input:checked{
    
}

#todo-input {
    border: none;
    border-bottom: rgb(190, 189, 189) 3px solid;
    width: 300px;
    height: 30px;
    font-size: 15px;
    margin-top: 30px;
    color: rgb(165, 164, 164);
    font-weight: bolder;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}

/* Todo : focus 되었을 때 커서만 보이게 테두리말고*/
#todo-input:focus {

}