body {
    background-color: rgb(48, 46, 46);
}

header p {
    font-size: 80px;
    font-weight: bolder;
    margin: 20px 40px;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: lightgray;
}

header p span {
    color: rgb(252, 101, 1);
}

main {
    margin: 50px auto;
    
}

ul {
    list-style: none;
    padding-left: 0px;
    font-size: 20px;
}

ul li{
    position : relative;
    margin-bottom: 10px;
}

ul li span {
    display: inline-block;
    margin: 0px 30px;
    width: 200px;
    color: lightgray
}

ul li button {
    margin: 0px;
    border: none;
    font-weight: bolder;
    background-color: rgb(48, 46, 46);
    color: lightgray
}

ul li label {
    position: absolute;
    top: 20%;
    display: inline-block;
    border: 1px solid lightgray;
    width: 17px;
	height: 17px;
}

ul li label input {
    display: none;
}

/* Todo : check 되었을 때 전체 밑줄 (css or js)*/
ul li label input:checked{
    
}

#todo-input {
    position: fixed;
    bottom: 200px;
    border: none;
    border-bottom: lightgray 2px solid;
    width: 300px;
    height: 30px;
    font-size: 15px;
    margin-top: 30px;
    color: lightgray;
    font-weight: bolder;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    background-color: rgb(48, 46, 46);
}

#todo-input:focus {
    outline: none;
}