@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "./nav.css";
@import "reset.css";

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  margin: 0 auto;
  width: 70vw;
  height: 200vh;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 10vh;
  height: 90%;
  width: 100%;
}

#main-box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#left-side {
  width: 35vw;
  height: 120vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#right-side {
  width: 35vw;
  height: 130vh;
  margin: 0;
  text-align: end;
}

#left-side a {
  width: 10vw;
}

#button-portfolio,
#button-github {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 10vw;
  height: 5vh;
  font-size: 100%;
}

#name,
#eng-name {
  font-size: 90px;
  font-weight: 400;
  margin: 20px 0;
  text-align: end;
}

#eng-name {
  font-size: 30px;
}

#name {
  margin-bottom: 40px;
}

.content {
  font-size: 12px;
  margin: 10px 0;
  word-break: break-all;
  letter-spacing: 1.5px;
  line-height: 26px;
}

#name-box {
  width: 35vw;
}

#introduce {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5vh;
  word-break: break-all;
  letter-spacing: 1.5px;
  line-height: 26px;
}

#face-image {
  width: 30vw;
  margin: 4vh 0;
}

#word {
  position: absolute;
  top: 30vh;
  left: 5vw;
}

#word p {
  font-size: min(7vw, 14vh);
  margin: 60px 0;
}

#not {
  text-align: center;
}

/* button style */
/* content style */
/* layout */
