body {
  margin: 0 auto;
  width: 70vw;
  height: 200vh;
  background: linear-gradient(to top, rgba(212, 174, 221, 0.7), white);
}

p {
  font-size: min(2vh, 1vw);
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  height: 7%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 2vw;
}

main {
  height: 90%;
  width: 100%;
}

#project-page {
  display: flex;
  justify-content: space-between;
}

#main-image {
  background-color: pink;
  width: 100%;
  height: 50vh;
  margin-bottom: 5vh;
}

#project-page {
  width: 100%;
  height: 100vh;
}

#left-side {
  width: 25vw;
  height: 100vh;
  margin-right: 10vw;
}

#right-side {
  width: 55vw;
  height: 100vh;
}

#project-subject {
  width: 100%;
  height: 12%;
  margin-bottom: 0;
}

#project-meaning,
#project-spec-part,
#project-spec-language,
#project-background {
  letter-spacing: 0.1vw;
  line-height: 2.5vh;
}

#project-meaning-box {
  width: 100%;
  height: 90vh;
}

#project-background-box {
  width: 100%;
  height: 25vh;
}

#project-desc-box {
  width: 100%;
  height: 25vh;
}

#project-preview-box {
  width: 100%;
  height: 35vh;
}

#project-subject-title {
  font-size: min(5vh, 3vw);
  margin-bottom: 0;
}

#project-subject-subtitle {
  font-size: min(3vh, 1.5vw);
  margin: 0;
}

#project-background-box p:first-child {
  font-size: min(4vh, 2vw);
  margin-bottom: 0;
}

#project-desc-box p:first-child {
  font-size: min(4vh, 2vw);
  margin-bottom: 0;
}

#project-preview-box p:first-child {
  font-size: min(4vh, 2vw);
  margin-bottom: 0;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.arrow {
  height: 100%;
  margin: 0 1vw;
}

.arrow p {
  margin: 0.3vh 0;
  font-size: min(5vh, 3vw);
  color: rgb(148, 148, 148);
}

#prev-subject,
#next-subject {
  margin: 0;
  font-size: min(3vh, 2vw);
}

.button-desc p:last-child {
  color: rgb(148, 148, 148);
}

#project-spec-part,
#project-spec-language {
  color: rgb(102, 201, 135);
  font-weight: 600;
  margin: 0 1vw;
}

/* 
TODO : button 으로 바꾸기.
*/
#project-button p {
  margin-top: 1vh;
  border: 1px solid gray;
  height: 4vh;
  padding: 0.5vh 0.5vw;
  text-align: center;
}
