body {
    background-color: rgb(48, 46, 46);
    font-size: 14px;
    font-weight: 500;
    color: lightgray;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: lightgray;
}

h1 {
    text-align: center;
}

h1 span {
    color: rgb(252, 101, 1);
    
}

nav {
    margin-top: 30px;
    font-weight: 550;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

nav ul li:nth-child(2) {
    background: linear-gradient(to right, rgb(252, 101, 1), transparent);
}

nav ul li {
    border-right: 1px solid lightgray;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
    cursor: pointer;
}

