* {
  text-align: center;
  margin: 0px;
}

body {
  width: 800px;
  height: 600px;
  margin: 30% auto;
  background-color: rgb(48, 46, 46);

}

h1 {
  margin-bottom: 80px;
  color: rgb(252, 101, 1);
  font-size: 80px;
}

p {
  font-size: 90px;
  margin-bottom: 50px;
  color: lightgray;
  font-weight: bolder;
  letter-spacing: 10px;
}
