* {
  text-align: center;
  margin: 0px;
}

body {
  width: 800px;
  height: 350px;
  background-color: rgb(48, 46, 46);
  margin: 50px;
}

h1 {
  margin-bottom: 80px;
  color: rgb(252, 101, 1);
  font-size: 80px;
}

p {
  font-size: 90px;
  margin-bottom: 50px;
  color: lightgray;
  font-weight: bolder;
  letter-spacing: 10px;
}

#description {
  margin-top: 100px;
}

#description p {
  text-align: start;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-bottom: 10px;
}