/* * {
  text-align: center;
  margin: 0px;
} */

body {
  width: 900px;
  height: 350px;
  text-align: center;
  background-color: rgb(48, 46, 46);
  margin: 50px;
}

#happy-new-year {
  margin-bottom: 80px;
  color: rgb(252, 101, 1);
  font-size: 80px;
  text-align: center;
}

p {
  font-size: 90px;
  margin-bottom: 50px;
  color: lightgray;
  font-weight: bolder;
  letter-spacing: 10px;
}

h1 {
  text-align: start;
  color: lightgray;
  font-size: xx-large;
  margin: 20px 10px;
}
