body {
  text-align: center;
  cursor: pointer;
  color: black;
  font-weight: bold;
  margin: 50px;
}

#calendar-table {
  width: 80vw;
  height: 85vh;
  border-collapse: collapse;
}

.choiced {
  color: rgb(194, 93, 252);
  font-weight: bold;
}

.cell {
  margin: 0;
  width: 10vw;
  height: 10vh;
  border: 1px solid lightgray;
  vertical-align: top;
}

.cell p {
  margin: 5px 0;
}

/* .today > p {
  color: white;
  background-color: rgb(94, 142, 248);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
} */

#month {
  margin-right: 30px;
}

#month,
#year {
  font-size: 50px;
  font-weight: 1000;
  color: rgb(94, 142, 248);
  width: auto;
}

.arrow {
  font-size: 30px;
}

#days td {
  line-height: 32px;
}

.sat {
  color: rgb(146, 146, 252);
}

.sun {
  color: rgb(248, 128, 128);
}

#schedule-maker,
#schedule-changer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

input[type="time"] {
  border: none;
  color: #2a2c2d;
  font-size: 14px;
  width: 180px;
  height: 30px;
}

.unshow {
  display: none;
}

.bar {
  font-size: 0.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 173, 233, 0.7);
  height: 1.5vh;
  margin-bottom: 1vh;
  border: none;
}

.bar p {
  margin: 0 0.7vw;
}

#box,
#box2 {
  text-align: start;
  margin: 20vh 30vw;
  font-size: 3vh;
  background-color: rgb(50, 47, 53);
  width: 40vw;
  height: 60vh;
  padding: 3vw;
  color: lightgray;
}

#schedule-,
#schedule-change-date {
  margin: 0;
  font-size: 2vh;
}

#target-date,
#target-change-date {
  margin-top: 0;
  margin-bottom: 2vh;
  font-size: 4vh;
  font-weight: 530;
}

#schedule-time,
#schedule-change-time {
  margin: 0;
  font-size: 2vh;
}

#schedule-content,
#schedule-change-content {
  margin: 0;
  font-size: 2vh;
}

#schedule-input-time,
#schedule-change-input-time {
  margin-top: 0;
  margin-bottom: 2vh;
}

#schedule-content,
#schedule-change-content {
  margin: 0;
  font-size: 2vh;
}

#schedule-input-content,
#schedule-change-input-content {
  margin-top: 0;
  margin-bottom: 2vh;
  border: none;
  height: 4vh;
  width: 30vw;
  font-size: 1.6vh;
  background-color: rgb(50, 47, 53);
  color: lightgray;
}

#schedule-input-content:focus,
#schedule-change-input-content:focus {
  outline: none;
}

#submit-button,
#change-button,
#delete-button {
  margin-left: 3vw;
  width: 5vw;
  height: 3.5vh;
  border: none;
  border-radius: 15%;
  background-color: rgb(255, 75, 120);
  color: lightgray;
  font-weight: 800;
}

#schedule-input-time,
#schedule-change-input-time {
  background-color: rgb(50, 47, 53);
  color: lightgray;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: lightgray;
}
